body{
    background-color: white;
    font-family: Roboto, sans-serif;
}

header img{
    width: 45px;
    height: 45px;
}

header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.w-28p{
    width: 29.5%;
}



@media only screen and (max-width: 1300px) {
    .w-28p{
        width: 45%;
    }
}

@media only screen and (max-width: 800px) {
    .w-28p{
        width: 95%;
    }
}



