.dropdown:hover .dropdown-content {
    display: flex;
}

@media only screen and (min-width: 900px) {

    .drop{
        width: 66.67%;
        position: relative;
    }
    .main{
        width: 66.67%;
        flex-direction: row-reverse;
    }
    .foot{
        width: 66.67%;
        margin: auto;
    }
    .footin{
        justify-content: center;
    }
    .dropcon{
        display: none;
    }
    .pcbut{
        display: flex;
    }
    .stick{
        position: sticky;
        top: 0;
        padding-top: 50px;
    }
    .nav{
        position: fixed;
        width: 100%;
        margin: auto;
        background-color: rgb(74 222 128);
        z-index: 10;
    }


}
