@media only screen and (max-width: 900px) {
    .nav-a a{
        display: none;
    }
    nav i {
        display: flex;
    }
    .nav-width{
        width: 100%;
    }
    .rez{
        display: none;
    }
    .about{
        display: block;
        font-size: 10px;
        width: 100%;
    }
    .infooter{
        display: flex;
        flex-direction: column;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-text{
        width: 100%;
    }

    .mrdka{
        width: 66.6%;
    }


}

@media only screen and (min-width: 900px) {
    .bi-list{
        display: none;
    }
    .about{
        width: 25%;
        position: absolute;
        margin: 1vh;
    }

    .about > p{
        font-size: 1vw;
    }

    .about > h2{
        font-size: 1vw;
    }

    .imgb{
        position: relative;
    }
    .footer-text {
        width: 25%;
    }

    .mrdka{
        width: 300px;
    }
}