body {
    padding: 0;
    margin: 0;
    font-family: 'B612 Mono', monospace;
    background-color: #343434;
    color: whitesmoke;
    overflow-x: hidden;
}

input{
    background-color: #595959;
}

i{
    background-color: #595959;
}

i:hover{
    background-color: #808080;
}