@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'B612 Mono', monospace;
    background-color: #222222;
    background-image: radial-gradient(#111111 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}


.con {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #20C20E60;
    margin: 0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #20C20E30, 0 0 50px #20C20E, 0 0 100px #20C20E;
    animation: animate 20s linear infinite;
    animation-duration: calc(125s / var(--i));
    z-index: 0;
    animation-delay: -20s;
}

.bubbles span:nth-child(even){
    box-shadow: 0 0 0 10px #00000044, 0 0 50px #000000, 0 0 100px #000000;
    background-color: #00000060;
}

@keyframes animate {
0%{
    transform: translateY(-54vh) scale(0.4);
}
80%{
    opacity: 1;
}
100%{
    transform: translateY(54vh) scale(0.7);
    opacity: 0;
}

}

.nav{
    background-color: #121212;
    animation-duration: 200ms;
}


.nav a{
    transition-duration: 300ms;
}

.nav-link{
    color: rgb(14, 100, 46);
}

.but:hover{
    color: rgb(14, 100, 46);
    transition-duration: 300ms;
}

.nav a:hover{
    color: rgb(22 163 74);
    text-shadow: rgb(32,194,14, 0.8) 1px 0 10px;
    transition-duration: 300ms;
}

a .keep-focus:focus{
    color: rgb(22 163 74);
    text-shadow: rgb(32,194,14, 0.8) 1px 0 10px;
}

.active{
    color: rgb(22 163 74);
    text-shadow: rgb(32,194,14, 0.8) 1px 0 10px;
}

.darken{
    color: rgb(14, 100, 46);
}

#logo{
    color: rgb(22 163 74);
    text-shadow: rgb(32,194,14, 0.8) 1px 0 10px;
    transition-duration: 300ms;
}

.brd{
    border-radius: 0.5rem;
    padding: 5px 10px;
}

.conchild:hover{
    transition-duration: 200ms;
    transform: scale(2);
}

.conchild{
    transition-duration: 200ms;
}

.conchild:nth-child(2){
    transition-delay: 200ms;
}

.conchild:nth-child(3){
    transition-delay: 400ms;
}

.conchild:nth-child(4){
    transition-delay: 600ms;
}

.text-toxic{
    color: rgb(22 163 74);
    text-shadow: rgb(32,194,14, 0.8) 1px 0 10px;
}




