@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
